/implementation/woble-system/.mypy_cache
/implementation/woble-system/.vscode
evaluation/zigbee-scraper/zigbee-scrapper/zigbee_scrapper/.~lock.cleaned_frequency.csv#
evaluation/zigbee-scraper/zigbee-scrapper/zigbee_scrapper/data/extracted_files/
evaluation/zigbee-scraper/zigbee-scrapper/zigbee_scrapper/data/product_documentations/
evaluation/zigbee-scraper/zigbee-scrapper/zigbee_scrapper/data/unknown_files/
evaluation/zigbee-scraper/zigbee-scrapper/zigbee_scrapper/products.json
evaluation/zigbee-scraper/zigbee-scrapper/zigbee_scrapper/products_detailed.json
evaluation/zigbee-scraper/zigbee-scrapper/.vscode/settings.json
