/implementation/retrowot/.mypy_cache
/implementation/retrowot/.vscode
evaluation/**/zigbee-scrapper/zigbee_scrapper/.~lock.cleaned_frequency.csv#
evaluation/**/zigbee-scrapper/data/extracted_files/
evaluation/**/zigbee-scrapper/data/product_documentations/
evaluation/**/zigbee-scrapper/data/unknown_files/
evaluation/**/zigbee-scrapper/products.json
evaluation/**/zigbee-scrapper/products_detailed.json
evaluation/**/zigbee-scrapper/.vscode/settings.json
evaluation/**/bluetooth-scraper/bluetooth-scrapper/.mypy_cache/
evaluation/**/bluetooth-scraper/data/bluetooth_devices/
evaluation/**/bluetooth-scraper/data/device_details/
evaluation/**/bluetooth-scraper/.vscode/settings.json
evaluation/**/bluetooth-scraper/bluetooth-scrapper/data.json
service-capability-ontology/ontology-documentation/
service-capability-ontology/ontology documentation/2 Ontology implementation/service-capability-ontology.rdf
evaluation/effectiveness-evaluation/zigbee-scraper/zigbee-scrapper/data/products_detailed.json
evaluation/effectiveness-evaluation/zigbee-scraper/zigbee-scrapper/data/cluster.csv
evaluation/effectiveness-evaluation/zigbee-scraper/zigbee-scrapper/data/products.json
evaluation/effectiveness-evaluation/.~lock.summary_g1_data.xlsx#
/**/.vscode/
service-capability-ontology/
.env
__init__**
evaluation/effectiveness-evaluation/bluetooth-scraper/data/results/bluetooth_frequency_2.csv
evaluation/effectiveness-evaluation/bluetooth-scraper/bluetooth-scrapper/bluetooth_scrapper/device_compliances_2.csv
evaluation/performance-evaluation/.~lock.performance-evaluation.xlsx#
implementation/retrowot/retrowot/thing_description/test_ontology_alignment.py
implementation/retrowot/retrowot/thing_description/test_query.py
implementation/retrowot/retrowot/thing_description/testupload.py
implementation/retrowot/retrowot/thing_description/updates/bluetooth_device_shacl_based_mapping_shape.ttl
implementation/retrowot/tests/test_alignment_with_factory.py
implementation/retrowot/retrowot/thing_description/updates/output.ttl
implementation/retrowot/retrowot/thing_description/updates/thing_description_query.rq
implementation/retrowot/retrowot/thing_description/updates/thing_model.json
implementation/retrowot/retrowot/thing_description/updates/thing_description.json
implementation/retrowot/retrowot/thing_description/updates/testdata.json
implementation/retrowot/retrowot/thing_description/updates/
